footer.footer
	.footer__bg
		+picture('hero-bg', 'jpg', 'footer__bg-image', '')
	.container.footer__container
		a.footer__logo(href='#', target='_blank')
			+icon('logo-tecno', 'footer__logo-tecno')
		a.footer__logo(href='#', target='_blank')
			+icon('logo-cnews', 'footer__logo-cnews')
		//.footer__adv
			span Реклама
			.footer__adv-tooltip
				.footer__adv-tooltip-block.
					erid: test <br>
					Рекламодатель: test <br>
					ИНН/ОГРН: 000/000000 <br>
					Сайт: <a href="#" target="_blank">test</a>
