footer.footer
	.footer__bg
		+picture('hero-bg', 'jpg', 'footer__bg-image', '')
	.container.footer__container
		a.footer__logo(href='#', target='_blank')
			+icon('logo-tecno', 'footer__logo-tecno')
		.footer__adv
			span Реклама
			.footer__adv-tooltip
				.footer__adv-tooltip-block.
					erid: 2W5zFHmrfdS <br>
					Рекламодатель: ООО «TECNO Mobile Limited» <br>
					ИНН/ОГРН: 2069121
		a.footer__logo(href='#', target='_blank')
			+icon('logo-cnews', 'footer__logo-cnews')
