footer.footer
	.container
		.footer__adv
			span Реклама
			.footer__adv-tooltip
				.footer__adv-tooltip-block.
					erid: test <br>
					Рекламодатель: test <br>
					ИНН/ОГРН: 000/000000 <br>
					Сайт: <a href="#" target="_blank">test</a>
		a.footer__logo(href='#', target='_blank')
			+icon('logo-cnews')(width='94', height='17')