header.header
	.container.header__container
		a.header__logo(href='#', target='_blank')
			+icon('logo-tecno', 'header__logo-tecno')
		a.header__logo(href='#', target='_blank')
			+icon('logo-cnews', 'header__logo-cnews')