.advantages {
	padding: 120px 0 66px;

	&__container {
		max-width: 1450px;
	}

	&__wrapper {
		position: relative;
		padding: 3px 0 80px;
	}

	&__bg {
		position: absolute;
		inset: 0;
		border-radius: 18px;
		overflow: hidden;
	}

	&__bg-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__content {
		position: relative;
		max-width: 950px;
		margin: 0 auto;
	}

	&__title {
		position: relative;
		top: -68px;
	}

	&__items {
		display: flex;
		justify-content: space-between;
		gap: 20px;
		margin: -10px -15px 0 15px;
	}

	&__col {
		display: flex;
		flex-direction: column;
		gap: 43px;
	}

	&__colors {
		position: relative;
		padding-right: 28px;
		margin-top: -130px;
	}
}
