.advantages-item {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 110px;
		height: 110px;
		border-radius: 50%;
		background-color: rgba($white, 0.61);
		border: 1px solid $white;
	}

	&__text {
		color: $white;
		font-size: 16px;
		line-height: 1.19;
		font-weight: 700;
		text-align: center;
		max-width: 180px;
		margin-top: 17px;
	}
}
