.ai {
	position: relative;
	padding: 328px 0 106px;

	&__bg {
		position: absolute;
		inset: 0;
	}

	&__bg-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__container {
		position: relative;
		max-width: 990px;
	}

	&__text {
		max-width: 430px;
		margin-top: 33px;
		line-height: 1.2;

		span {
			font-size: 24px;
		}

		p + p {
			margin-top: 35px;
		}
	}

	&__logos {
		margin-top: 30px;
	}
}
