.autonomy {
	&__banner-image {
		width: 100%;
		border-radius: 18px;
	}

	&__content {
		position: relative;
		display: flex;
		gap: 45px;
		background-color: $color-button;
		border-radius: 18px;
		padding: 43px 97px;
		margin: -94px 66px 0;
	}

	&__title {
		color: $white;
		font-size: 24px;
		font-weight: 500;
	}

	&__text {
		color: $white;
	}
}
