.button {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: vw(10);
	max-width: vw(300);
	width: 100%;
	padding: vw(21) vw(20);
	border-radius: vw(10);
	box-sizing: border-box;
	background-color: $color-button;
	color: $white;
	font-size: vw(17);
	line-height: 1.3;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
	transition: 0.3s ease;

	@include max(d) {
		gap: vwd(10);
		max-width: vwd(300);
		padding: vwd(21) vwd(20);
		border-radius: vwd(10);
		font-size: vwd(17);
	}

	@include max(ti) {
		gap: vwti(10);
		max-width: vwti(300);
		padding: vwti(21) vwti(20);
		border-radius: vwti(10);
		font-size: vwti(17);
	}

	&:hover {
		background-color: rgba($color-button, 0.7);
	}
}