.button-up {
	position: fixed;
	right: vw(50);
	bottom: vw(35);
	z-index: 12;
	display: flex;
	align-items: center;
	justify-content: center;
	width: vw(35);
	height: vw(35);
	padding: vw(5);
	border-radius: vw(3);
	background-color: $color-button;
	opacity: 0;
	pointer-events: none;
	transition: 0.3s ease;
	cursor: pointer;

	@include max(d) {
		right: vwd(50);
		bottom: vwd(35);
		width: vwd(35);
		height: vwd(35);
		padding: vwd(5);
		border-radius: vwd(3);
	}

	@include max(ti) {
		right: vwti(50);
		bottom: vwti(35);
		width: vwti(35);
		height: vwti(35);
		padding: vwti(5);
		border-radius: vwti(3);
	}

	&:hover {
		background-color: rgba($color-button, 0.7);
	}

	&--visible {
		opacity: 1;
		pointer-events: auto;
	}
}