.button {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	max-width: 300px;
	width: 100%;
	padding: 21px 20px;
	border-radius: 10px;
	box-sizing: border-box;
	background-color: $color-button;
	color: $white;
	font-size: 17px;
	line-height: 1.3;
	font-weight: 500;
	text-align: center;
	cursor: pointer;
	transition: 0.3s ease;

	@include max(tl) {
		font-size: fluid(16, 17, 768, 992);
	}

	@include max(ti) {
		font-size: fluid(14, 16, 0, 768);
	}

	&:hover {
		background-color: rgba($color-button, 0.7);
	}
}