.colors {
	&__wrapper {
		display: flex;
		justify-content: center;
		gap: 20px;
	}

	&__item {
		display: flex;
		align-items: flex-end;
		gap: 20px;
		text-align: right;

		&--reverse {
			flex-direction: row-reverse;
			text-align: left;
		}
	}

	&__text {
		font-size: 23px;
		padding-bottom: 24px;

		span {
			display: block;
			font-size: 38px;
			line-height: 1.19;
			margin-bottom: 10px;
		}
	}

	&__title {
		text-align: center;
		padding-left: 28px;
		margin-top: 26px;
	}
}
