.container {
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
	box-sizing: border-box;

	@include max(dxl) {
		padding: 0 vw(20);
	}

	@include max(d) {
		padding: 0 vwd(20);
	}

	@include max(ti) {
		padding: 0 vwti(20);
	}
}
