.footer {
	$parent: &;

	position: relative;
	width: 100%;
	padding: 72px 0;

	@include max(dxl) {
		padding: vw(72) 0;
	}

	@include max(d) {
		padding: vwd(72) 0;
	}

	@include max(ti) {
		padding: vwti(72) 0;
	}

	&__bg {
		position: absolute;
		inset: 0;
	}

	&__bg-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top;
	}

	&__container {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: vw(20);
		max-width: 990px;

		@include max(dxl) {
			max-width: vw(990);
		}

		@include max(d) {
			gap: vwd(20);
			max-width: vwd(990);
		}

		@include max(ti) {
			gap: vwti(20);
			max-width: vwti(990);
		}
	}

	&__logo {
		transition: 0.3s ease;

		&:hover {
			opacity: 0.7;
		}
	}

	&__logo-tecno {
		width: 137px;
		height: 28px;

		@include max(dxl) {
			width: vw(137);
			height: vw(28);
		}

		@include max(d) {
			width: vwd(137);
			height: vwd(28);
		}

		@include max(ti) {
			width: vwti(137);
			height: vwti(28);
		}
	}

	&__logo-cnews {
		width: 99px;
		height: 30px;

		@include max(dxl) {
			width: vw(99);
			height: vw(30);
		}

		@include max(d) {
			width: vwd(99);
			height: vwd(30);
		}

		@include max(ti) {
			width: vwti(99);
			height: vwti(30);
		}
	}

	&__adv {
		position: relative;
		z-index: 1;

		&:hover {
			#{$parent}__adv-tooltip {
				opacity: 1;
				pointer-events: auto;
			}
		}

		span {
			display: flex;
			align-items: center;
			gap: 8px;
			color: $white;
			font-size: 12px;
			cursor: pointer;

			@include max(dxl) {
				gap: vw(8);
				font-size: vw(12);
			}

			@include max(d) {
				gap: vwd(8);
				font-size: vwd(12);
			}

			@include max(ti) {
				gap: vwti(8);
				font-size: vwti(12);
			}

			&::before {
				content: "";
				width: 5px;
				height: 5px;
				background-color: $white;

				@include max(dxl) {
					width: vw(5);
					height: vw(5);
				}

				@include max(d) {
					width: vwd(5);
					height: vwd(5);
				}

				@include max(ti) {
					width: vwti(5);
					height: vwti(5);
				}
			}
		}
	}

	&__adv-tooltip {
		position: absolute;
		left: -100px;
		bottom: 100%;
		width: 270px;
		border: 2px solid $color-button;
		background: rgba($white, 0.7);
		backdrop-filter: blur(11px);
		border-radius: 2px;
		padding: 20px 10px;
		opacity: 0;
		pointer-events: none;
		transition: 0.3s ease;

		@include max(dxl) {
			left: vw(-100);
			width: vw(270);
			border: vw(2) solid $color-button;
			border-radius: vw(2);
			padding: vw(20) vw(10);
		}

		@include max(d) {
			left: vwd(-100);
			width: vwd(270);
			border: vwd(2) solid $color-button;
			border-radius: vwd(2);
			padding: vwd(20) vwd(10);
		}

		@include max(ti) {
			left: vwti(-100);
			width: vwti(270);
			border: vwti(2) solid $color-button;
			border-radius: vwti(2);
			padding: vwti(20) vwti(10);
		}
	}

	&__adv-tooltip-block {
		color: $color-text;
		font-size: 12px;
		line-height: 1.2;

		@include max(dxl) {
			font-size: vw(12);
		}

		@include max(d) {
			font-size: vwd(12);
		}

		@include max(ti) {
			font-size: vwti(12);
		}

		a {
			color: $color-text;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}

		& + #{$parent}__adv-tooltip-block {
			margin-top: 12px;
			padding-top: 12px;
			border-top: 1px solid $color-text;

			@include max(dxl) {
				margin-top: vw(12);
				padding-top: vw(12);
				border-top: vw(1) solid $color-text;
			}

			@include max(d) {
				margin-top: vwd(12);
				padding-top: vwd(12);
				border-top: vwd(1) solid $color-text;
			}

			@include max(ti) {
				margin-top: vwti(12);
				padding-top: vwti(12);
				border-top: vwti(1) solid $color-text;
			}
		}
	}
}
