.footer {
	$parent: &;

	position: relative;
	width: 100%;
	padding: vw(72) 0;

	@include max(d) {
		padding: vwd(72) 0;
	}

	@include max(ti) {
		padding: vwti(72) 0;
	}

	&__bg {
		position: absolute;
		inset: 0;
	}

	&__bg-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: top;
	}

	&__container {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: vw(20);
		max-width: vw(990);

		@include max(d) {
			gap: vwd(20);
			max-width: vwd(990);
		}

		@include max(ti) {
			gap: vwti(20);
			max-width: vwti(990);
		}
	}

	&__logo {
		transition: 0.3s ease;

		&:hover {
			opacity: 0.7;
		}
	}

	&__logo-tecno {
		width: vw(137);
		height: vw(28);

		@include max(d) {
			width: vwd(137);
			height: vwd(28);
		}

		@include max(ti) {
			width: vwti(137);
			height: vwti(28);
		}
	}

	&__logo-cnews {
		width: vw(137);
		height: vw(25);

		@include max(d) {
			width: vwd(137);
			height: vwd(25);
		}

		@include max(ti) {
			width: vwti(137);
			height: vwti(25);
		}
	}

	&__adv {
		position: relative;
		cursor: pointer;

		&:hover {
			#{$parent}__adv-tooltip {
				opacity: 1;
				pointer-events: auto;
			}
		}

		span {
			display: flex;
			align-items: center;
			gap: vw(8);
			color: $white;
			font-size: vw(12);

			&::before {
				content: "";
				width: vw(5);
				height: vw(5);
				background-color: $white;
			}
		}
	}

	&__adv-tooltip {
		position: absolute;
		left: vw(-100);
		bottom: 100%;
		width: vw(270);
		border: vw(2) solid $color-button;
		background: rgba($white, 0.7);
		backdrop-filter: blur(11px);
		border-radius: vw(2);
		padding: vw(20) vw(10);
		opacity: 0;
		pointer-events: none;
		transition: 0.3s ease;
	}

	&__adv-tooltip-block {
		color: $color-text;
		font-size: vw(12);
		line-height: 1.2;

		a {
			color: $color-text;
			text-decoration: underline;

			&:hover {
				text-decoration: none;
			}
		}

		& + #{$parent}__adv-tooltip-block {
			margin-top: vw(12);
			padding-top: vw(12);
			border-top: vw(1) solid $color-text;
		}
	}
}
