.header {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	padding: 89px 0 0;

	&__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 20px;
		max-width: 990px;
	}

	&__logo {
		transition: 0.3s ease;

		&:hover {
			opacity: 0.7;
		}
	}
}
