.hero {
	$parent: &;

	position: relative;

	&__container {
		position: relative;
		max-width: 993px;
	}

	&__border {
		position: absolute;
		top: 93px;
		bottom: 48px;
		left: 50%;
		transform: translateX(-50%);
		width: 624px;
		height: 942px;
	}

	&__wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 161px 0 48px;
		min-height: 100vh;
	}

	&__bg {
		position: absolute;
		inset: 0;
	}

	&__bg-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__title {
		width: 716px;
		height: 300px;
	}

	&__subtitle {
		max-width: 370px;
		color: $white;
		font-size: 30px;
		line-height: 1.4;
		text-transform: uppercase;
		letter-spacing: 0.8px;
		margin-top: 4px;
	}

	&__arrows {
		margin-top: 30px;
		margin-left: 15px;
	}

	&__phone {
		position: absolute;
		top: 33%;
		right: -55px;
	}

	&__bottom {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 624px;
		padding: 67px 32px 0 32px;
		margin: 0 auto;
	}

	&__description {
		position: relative;
		color: $white;
		font-weight: 500;
	}

	&__button {
		margin-top: 27px;
	}
}
