.hero {
	$parent: &;

	position: relative;

	&__container {
		position: relative;
		max-width: 993px;
	}

	&__wrapper {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		padding: 161px 0 48px;
		min-height: 100vh;
	}

	&__bg {
		position: absolute;
		inset: 0;
	}

	&__bg-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__title {
		width: 716px;
		height: 300px;
	}

	&__subtitle {
		max-width: 370px;
		color: $white;
		font-size: 30px;
		line-height: 1.4;
		text-transform: uppercase;
		letter-spacing: 0.8px;
		margin-top: 4px;
	}

	&__arrows {
		margin-top: 30px;
		margin-left: 15px;
	}

	&__bottom {
		display: flex;
		flex-direction: column;
		align-items: center;
		max-width: 624px;
		padding: 67px 32px 0 32px;
		margin: 0 auto;

		/*&::before {
			position: absolute;
			top: 92px;
			left: 50%;
			transform: translateX(-50%);
			content: "";
			max-width: 624px;
			width: 100%;
			height: calc(100% - 170px);
			border-radius: 18px;
			border: 1px solid $white;
		}*/
	}

	&__description {
		position: relative;
		color: $white;
		font-weight: 500;
	}

	&__button {
		margin-top: 27px;
	}
}
