.possibility {
	position: relative;
	padding: vw(50) 0 vw(80);

	@include max(d) {
		padding: vwd(50) 0 vwd(80);
	}

	@include max(ti) {
		padding: vwti(50) 0 vwti(80);
	}

	&__container {
		max-width: vw(990);

		@include max(d) {
			max-width: vwd(990);
		}

		@include max(ti) {
			max-width: vwti(990);
		}
	}

	&__content {
		position: relative;
		z-index: 1;
		border-radius: vw(18);
		border: vw(1) solid $color-button;
		padding: vw(20) vw(35) vw(56);
		background-color: $white;

		@include max(d) {
			border-radius: vwd(18);
			border: vwd(1) solid $color-button;
			padding: vwd(20) vwd(35) vwd(56);
		}

		@include max(ti) {
			border-radius: vwti(18);
			border: vwti(1) solid $color-button;
			padding: vwti(20) vwti(35) vwti(56);
		}
	}

	&__title {
		opacity: 0;
		transform: translateY(50px);
	}

	&__list {
		max-width: vw(315);
		padding-left: vw(30);
		margin-top: vw(65);
		list-style: initial;
		opacity: 0;
		transform: translateY(50px);

		@include max(d) {
			max-width: vwd(315);
			padding-left: vwd(30);
			margin-top: vwd(65);
		}

		@include max(ti) {
			max-width: vwti(315);
			padding-left: vwti(30);
			margin-top: vwti(65);
		}

		li {
			color: $color-title;
			font-size: vw(18);
			font-weight: 500;

			@include max(d) {
				font-size: vwd(18);
			}

			@include max(ti) {
				font-size: vwti(18);
			}

			& + li {
				margin-top: vw(25);

				@include max(d) {
					margin-top: vwd(25);
				}

				@include max(ti) {
					margin-top: vwti(25);
				}
			}
		}
	}

	&__image {
		position: absolute;
		top: vw(-210);
		right: vw(-443);
		min-width: vw(990);
		opacity: 0;
		transform: translateX(50px);

		@include max(d) {
			top: vwd(-210);
			right: vwd(-443);
			min-width: vwd(990);
		}

		@include max(ti) {
			top: vwti(0);
			right: vwti(-15);
			min-width: vwti(400);
			max-width: vwti(400);
		}
	}

	&__arrow {
		position: absolute;
		top: vw(-290);
		right: vw(36);
		transform: rotate(180deg);
		width: vw(83);
		height: vw(211);

		@include max(d) {
			top: vwd(-290);
			right: vwd(36);
			width: vwd(83);
			height: vwd(211);
		}

		@include max(ti) {
			top: vwti(-190);
			right: vwti(36);
			width: vwti(83);
			height: vwti(211);
		}
	}
}
