.screen {
	padding: vw(67) 0 vw(62);

	@include max(d) {
		padding: vwd(67) 0 vwd(62);
	}

	@include max(ti) {
		padding: vwti(67) 0 vwti(62);
	}

	&__container {
		max-width: vw(1184);

		@include max(d) {
			max-width: vwd(1184);
		}

		@include max(ti) {
			max-width: vwti(1184);
		}
	}

	&__top {
		display: flex;
		align-items: center;
		gap: vw(68);
		padding-left: vw(98);

		@include max(d) {
			gap: vwd(68);
			padding-left: vwd(98);
		}

		@include max(ti) {
			flex-direction: column;
			gap: vwti(20);
			padding-left: 0;
		}
	}

	&__title {
		opacity: 0;
		transform: translateX(-50px);

		@include max(ti) {
			text-align: center;
		}
	}

	&__text {
		max-width: vw(388);
		opacity: 0;
		transform: translateX(50px);

		@include max(d) {
			max-width: vwd(388);
		}

		@include max(ti) {
			max-width: vwti(388);
			text-align: center;
		}
	}

	&__banner {
		position: relative;
		margin-top: vw(50);
		opacity: 0;

		@include max(d) {
			margin-top: vwd(50);
		}

		@include max(ti) {
			margin-top: vwti(50);
		}
	}

	&__banner-image {
		width: 100%;
		height: 100%;
		object-fit: cover;
		border-radius: vw(18);

		@include max(d) {
			border-radius: vwd(18);
		}

		@include max(ti) {
			border-radius: vwti(18);
		}
	}

	&__arrows {
		position: absolute;
		left: vw(7);
		top: 44%;
		transform: translateY(-50%);
		display: flex;
		justify-content: space-between;
		width: 99%;

		@include max(d) {
			left: vwd(7);
		}

		@include max(ti) {
			top: unset;
			transform: unset;
			bottom: 0;
			left: 0;
		}
	}

	&__arrow-1,
	&__arrow-2 {
		width: vw(83);
		height: vw(211);

		@include max(d) {
			width: vwd(83);
			height: vwd(211);
		}

		@include max(ti) {
			width: vwti(83);
			height: vwti(211);
		}
	}

	&__arrow-1 {
		transform: translateX(-50px) rotate(-90deg);

		@include max(ti) {
			transform: translateX(-50px) rotate(-90deg);
		}
	}

	&__arrow-2 {
		transform: translateX(50px) rotate(-90deg);

		@include max(ti) {
			transform: translateX(50px) rotate(-90deg);
		}
	}

	&__characteristics {
		display: flex;
		justify-content: center;
		margin-top: vw(30);

		@include max(d) {
			margin-top: vwd(30);
		}

		@include max(ti) {
			margin-top: vwti(30);
		}
	}

	&__characteristics-image {
		opacity: 0;
		transform: translateY(50px);
	}
}
