.title {
	color: $color-title;
	font-weight: 700;
	font-size: vw(40);
	line-height: 1.2;
	text-transform: uppercase;

	@include max(d) {
		font-size: vwd(40);
	}

	@include max(ti) {
		font-size: vwti(40);
	}

	&--white {
		color: $white;
	}
}