.title {
	color: $color-title;
	font-weight: 700;
	font-size: 40px;
	line-height: 1.2;
	text-transform: uppercase;

	@include max(d) {
		font-size: fluid(35, 40, 992, 1280);
	}

	@include max(tl) {
		font-size: fluid(30, 35, 768, 992);
	}

	@include max(ti) {
		font-size: fluid(22, 30, 0, 768);
	}

	&--white {
		color: $white;
	}
}