doctype html

block vars
include ../mixins/mixins

html(lang='ru')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='C3Solutions')
		meta(name='keywords', content='')

		link(href='css/main.min.css', rel='stylesheet', type='text/css')
		title= `${page.title}`

	body
		block header
			include ../blocks/header

		main.main
			block main

		.button-up.button-up--visible
			+icon('button-up')(width='24', height='24')

		block footer
			include ../blocks/footer

	block modals

	script(src="js/main.min.js" defer)

	block scripts
