@font-face {
	font-family: "Onest";
	src: url("../fonts/Onest-Thin.ttf") format("truetype");
	font-style: normal;
	font-weight: 100;
}

@font-face {
	font-family: "Onest";
	src: url("../fonts/Onest-Regular.ttf") format("truetype");
	font-style: normal;
	font-weight: 400;
}

@font-face {
	font-family: "Onest";
	src: url("../fonts/Onest-Medium.ttf") format("truetype");
	font-style: normal;
	font-weight: 500;
}

@font-face {
	font-family: "Onest";
	src: url("../fonts/Onest-SemiBold.ttf") format("truetype");
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "Onest";
	src: url("../fonts/Onest-Bold.ttf") format("truetype");
	font-style: normal;
	font-weight: 700;
}
