*,
*::before,
*::after {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
	margin: 0;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-o-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
	scroll-behavior: smooth;
}

body {
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	font-family: $mainFont;
	background: $color-bg;
	color: $black;
	font-weight: 400;
	font-size: 17px;
	line-height: 1.3;

	/* iOS fix */
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	-webkit-locale: auto;
	white-space: normal;
}

main {
	position: relative;
	z-index: 1;
	overflow: hidden;
}

a {
	color: $white;
	text-decoration: none;
}

svg {
	width: auto;
	height: auto;
}

img {
	display: block;
	max-width: 100%;
}

input,
button {
	-webkit-appearance: none;
}

input,
button,
select,
textarea {
	font: inherit;
	background-color: transparent;
	border: 0;
	border-radius: 0;
	outline: 0;
}

input,
textarea {
	padding: 0;
	margin: 0;

	&:focus::placeholder {
		opacity: 0;
	}
}

ul,
ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

[hidden] {
	display: none !important;
}

/* Mobile-menu */
[data-state="mobile-menu"] {
	.header__menu-wrapper {
		transform: translateX(0);
	}

	.overlay {
		opacity: 1;
		pointer-events: auto;
	}
}

/* Swiper */
.swiper-nav {
	position: absolute;
	z-index: 10;
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
	pointer-events: none;

	@include max(tl) {
		justify-content: center;
		gap: 20px;
	}

	.swiper-btn-prev,
	.swiper-btn-next {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 45px;
		height: 37px;
		background-color: $black;
		border-radius: 10px 6px 10px 6px;
		transform: skewX(-8deg);
		cursor: pointer;
		pointer-events: auto;
		transition: background-color 0.3s ease;

		&:hover {
			background-color: rgba($black, 0.7);
		}

		svg {
			transform: skewX(8deg);
		}
	}

	.swiper-button-disabled {
		filter: grayscale(100%);
		cursor: default;
	}
}

/* Swiper pagination */
.swiper-pagination {
	display: none;
	align-items: center;
	justify-content: center;
	gap: 10px;
	position: absolute;
	top: unset !important;
	bottom: 16px !important;
	z-index: 12;

	@include max(tl) {
		display: flex;
	}

	.swiper-pagination-bullet {
		width: 20px;
		height: 20px;
		opacity: 0.5;
		background-color: $white;
		margin: 0 !important;

		&-active {
			opacity: 1;
		}
	}
}
