/* Breakpoints */
$media-list: (
	'm': 0,
	't': 575,
	'ti': 767,
	'tl': 991,
	'd': 1279,
	'dl': 1439,
	'dxl': 1679,
);

/* Fonts */
$mainFont: 'Onest', sans-serif;
$secondFont: 'ArialRoundedMTBold', sans-serif;

/* Colors */
$black: #000000;
$white: #ffffff;
$color-bg: #fbfbfb;
$color-bg-2: #e1e4ed;
$color-button: #0264fa;
$color-title: #0264fa;

$color-text: #171717;
$color-line: #ff6124;
$color-icon-bg: #eaebec;
$color-card: #ececec;
$color-card-border: #aaadb0;
$color-article-top: #f1edeb;
$color-inset-border: #d5d6d8;
$color-inset-text: #5F1224;
